body{
	font-family: Rubik, Arial, Helvetica, sans-serif;
}

/* NEW HEADER */
.header-store{
	position: fixed;
	width: 340px;
	height: 100%;
	background-color: #131313;
	z-index: 5;
}

/* HEADER */
.search-article{
	position: fixed;
	width: 84%;
	background-color: #131313;
	z-index: 4;
}
#searchBar{
	width: 94%;
	padding: 5px 0 5px 5px;
	margin: 15px 0;
	border: none;
	/*margin-top: 8px;
	margin-right: 5px;*/
	font-size: 15px;
	background-color: #393939;
	color: #9e9e9e;
	outline-style: solid;
	outline-color: #434343eb;
	outline-width: 1px;
	font-family: Rubik, Arial, Helvetica, sans-serif;
}
.storetags{
	cursor: pointer;
	font-size: 14px;
	padding: 5px 10px;
	color: rgb(196, 196, 196);
	background-color: #222;
	border-radius: 20px;
	border: 1px solid #3c3c3c;
	display: inline-block;
	margin: 2px 0;
	transition: all 0.15s ease-in-out;
}
.storetags:hover{
	font-size: 14px;
    color: white;
	background-color: #444;
    transition: all 0.15s ease-in-out;
}
#maxPrice{
	-webkit-appearance: none;
	-moz-appearance: textfield;
	width: 25%;
	margin: 0;
	border: none;
	font-size: 15px;
	background-color: #393939;
	color: #9e9e9e;
	outline-style: solid;
	outline-color: #434343eb;
	outline-width: 1px;
	font-family: Rubik, Arial, Helvetica, sans-serif;
}

/* ARTICLE */
.store-article{
	margin: 0 0 0 16%;
	padding: 0;
	background-color: #00000000;
}

#storebody{
	display: grid;
	background-image: url('/img/posterback.jpg');
	background-color: rgb(62, 62, 62);
	background-size: cover;
}
#storesec{
	font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
	background-image: url('/img/posterback.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 9%;
	padding-bottom: 4%;
	backdrop-filter: blur(5px);
}
.storeItems{
	padding-top: 40px;
	background-color: rgb(08, 08, 08, 0.95);
	backdrop-filter: blur(5px);
}
/*.no-results{
	margin-bottom: 20px;
	background-color: rgb(94, 18, 18);
	width: 100%;
	padding: 10px 0 10px 0;
}*/
.item-pdt{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
	max-width: 340px;
	max-height: 400px;
	outline-style: none;
	outline-color: #5b5b5b;
	transition: all 0.15s ease-in-out;
}
.img-pdt{
	max-width: 100%;
	text-decoration: none;
	margin-bottom: -7px;
}
.descbox-pdt{
	cursor: default;
	transition: all 0.15s ease-in-out;
	background-color:#2c2c2c;
	padding: 10px;
	z-index: 3;
  	position: sticky;
}
.item-pdt:hover{
	cursor: pointer;
}
.item-pdt:hover .descbox-pdt{
	box-shadow: 0 -2.5px 0 0.2px red;
}
.name-pdt{
	font-size: 14px;
	font-style: normal;
}
.class-pdt{
    color: rgb(175, 175, 175);
	font-size: 13px;
}
.price-pdt{
	position: absolute;
	font-size: 13px;
	top: 5px;
	left: 299px;
	font-weight: 600;
	color: #0c0;
}
/* END STORE PAGE */


/* PRODUCT PAGE */

.pdt-iframe{
	border-radius: 5px;
	width: 90%;
	height: 79.4%;
	left: 5%;
	position: fixed;
	z-index: 10000;
	box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.5);
}
.pdt-body{
	font-family: Rubik, Arial, Helvetica, sans-serif;
	background: linear-gradient(#bdbdbd,#00000000);
	background-size: cover;
	height: 100vh;
	margin: 0;
	display: flex;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.pdtpage-img{
	text-align: left;
	width: 50%;
}
.pdtpage-img img{
	border-radius: 5px;
	width: 99%;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.1);
	margin: 4px 0 0 4px;
}
.pdtpage-info{
	width: 50%;
	text-align: right;
}
@media (max-width: 800px) {
	.pdt-body{
		display: block;
	}
	.pdtpage-img{
		text-align: center;
		width: 100%;
	}
	.pdtpage-img img{
		width: 90%;
	}
	.pdtpage-info{
		width: 100%;
		text-align: center;
	}
	#searchbar{
		padding: 6px 10px 6px 10px;
	}
}
#pdt-artc{
	background-color: #3e3e3e;
	border-radius: 5px;
	margin: 4px;
	padding: 5px;
	box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.1);
	color: white;
}
.pdtpage-info h1{
	font-size: 40px;
	text-align: center;
	margin: 0px;
	letter-spacing: -2px;
}
.pdtpage-main-info{
	display: flex;
	justify-content: space-between;
	font-size: 25px;
}
.pdt-description{
	font-size: 20px;
	padding: 20px !important;
}
.pdt-description a{
	text-decoration-style: dashed;
	color: rgb(231, 69, 69);
}
.spl-link-button{
	display: inline-flex;
	transition: all 0.15s ease-in;
	outline-color: #313131;
	margin: 5px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	align-self: center;
	box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.205);
}
.spl-link-button:hover{
	box-shadow: 0px 0px 15px 5px #9b2d2d2b/*#9b2d2d2c*/;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #aa3434/*#963535*/;
	transition: all 0.15s ease-in-out;
}
.spl-link-button a{
	padding: 15px 20px;
	background-color: #bc24245e/*rgba(188, 36, 36, 0.21)*/;
	letter-spacing: -1px;
	display: grid;
  	align-items: center;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-bottom-right-radius: 10px;
	font-size: 20px;
}
.spl-link-ico{
	background-color: #aa3434/*rgb(170, 52, 52)*/;
	padding: 15px;
	cursor: default;
	color: rgb(216, 216, 216);
	border-top-left-radius: 10px;
}